[v-cloak] > * {
  display: none;
}

[v-cloak]::before {
  content: "loading…";
}

body {
  background-color: #eff9fb;
}

.appContainer {
  position: relative;
}

.searchContainer {
  background: #81cfe0;
  height: 70px;
}

.form {
  height: 100%;
  display: flex;
}

.form__label {
  font-size: 0.875em;
  font-weight: 700;
}

.form__input--text {
  padding: 5px;
}

/* Row style with label above input */

.form--horizontal {
  justify-content: center;
}

.form--horizontal .form__item {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.form--horizontal .form__item:last-child {
  padding-right: 0;
}

.form--horizontal .form__label {
  margin-bottom: 0;
}

.form--horizontal .form__label {
  flex: 0;
  white-space: nowrap;
  padding-right: 5px;
}

.form--horizontal .form__input--text {
  flex: 0;
  min-width: 300px;
}

.searchResults {
  padding: 20px;
  background: #d0edf3;
}

.searchResults:empty {
  display: none;
}

.foodList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.foodList__item {

}

.foodInformation {
  padding: 20px;
}

.foodInformation__name {
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
}

.foodInformation__nutrition {
  display: flex;
  /*height: calc(100% - 100px);*/
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.sugarCube {
  position: relative;
  margin: 10px;
  border: 2px dotted #999;
  background-color: #fff;
}

.spinner {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  border-radius: 50%;
  border: 5px solid #ebebeb;
  border-top-color: #999;
  animation: rotate 1s linear infinite;
  transition: visibility 0s 0.3s, opacity 0.3s linear;
}

.spinner--isLoading {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s linear;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
