<!DOCTYPE html>
<html>
<head>
  <title>Sugar Cuber!</title>

  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app" class="appContainer">
    <div id="search" class="searchContainer">
      <div class="form form--horizontal">
        <div class="form__item">
          <label for="foodSearch" class="form__label">Search for food</label>
          <input type="text" class="form__input form__input--text" id="foodSearch" v-model="searchQuery" />
        </div>
        <div class="form__item">
          <label for="brandedFoods" class="form__label">Search branded foods?</label>
          <input type="checkbox" class="form__input form__input--checkbox" id="brandedFoods" v-model="searchBranded" />
        </div>
      </div>
    </div>
    <div id="searchResults" class="searchResults">
      <select class="searchResults__choices" v-model="selected" v-if="formattedSearchResults !== ''">
        <option v-for="result in formattedSearchResults" v-bind:value="result.ndbno">{{ result.name }}</option>
      </select>
    </div>
    <div id="foodInformation" class="foodInformation" v-if="selectedFoodData !== ''">
      <div class="foodInformation__name">{{selectedFoodData.name}}</div>
      <div class="foodInformation__nutrition"></div>
    </div>
  </div>

  <script src="./js/app.js"></script>
</body>
</html>