<!DOCTYPE html>
<html>
<head>
  <title>Sugar Cuber!</title>

  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app" class="container">
    <div id="search">
      <div class="form form--horizontal">
        <label for="foodSearch" class="form__label">Search for food</label>
        <input type="text" class="form__input form__input--text" id="foodSearch" v-model="searchQuery" />
      </div>
    </div>
    <div id="results" v-if="formattedSearchResults !== ''">
      <pre>{{ formattedSearchResults }}</pre>
    </div>
    <div id="information"></div>
  </div>

  <script src="./js/app.js"></script>
</body>
</html>